body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 18px;
}

nav {
  display: flex;
  height: 50px;
  background-color: #4E4E4E;
}

nav h1 {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.nav-links a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page {
  height: 100vh;
  background: url('https://picsum.photos/1600/1050');
  background-position: center;
  background-size: cover;
}

.landing-page .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.landing-page-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
}

.landing-page-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 56%;
  height: 28%;
  color: white;
}

.landing-page-text a {
  border: 3px solid white;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 5px 30px;
  text-decoration: none;
}

.about {
  padding: 50px 0;
}

.about h1 {
  margin-bottom: 50px;
  color: #152D41;
}

.about h2 {
  margin-bottom: 25px;
}

.about-employee {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.about-employee:last-of-type {
  margin-bottom: 0;
}

.about-employee:nth-of-type(even) {
  flex-direction: row-reverse;
}

.about-employee:nth-of-type(even) .about-employee-text {
  margin-right: 50px;
  margin-left: 0;
  text-align: right;
}

.about-employee-text {
  margin-left: 50px;
}

.about-employee-pic {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('https://picsum.photos/400');
  background-size: cover;
}

.offer {
  padding: 50px 0;
  background-color: #405D78;
}

.offer h1 {
  margin-bottom: 50px;
  color: white;
}

.offer-container {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  margin: 0 auto;
}

/* 8% */

.box {
  position: relative;
  width: 28%;
  margin-right: 8%;
  margin-bottom: 8%;
  background-color: #F1F1F1;
}

.box:nth-of-type(3n) {
  margin-right: 0;
} 

.box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.box-dot {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  background-color: #E07A64;
  border-radius: 50%;
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content h2 {
  font-size: 24px;
  font-weight: 400;
}